:root {
  --orange: rgb(241, 116, 0);
  --blue: rgb(5, 73, 144);
  --grey: rgb(199, 212, 228);
  --white: rgb(220, 226, 238);
  --orange2: rgb(250, 188, 154);
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto Mono", monospace;
  /* font-weight: bold; */
}

body {
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto Mono", monospace;
}

.container {
  box-shadow: darkgrey;
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: 90vh;
  margin: auto;
  border-radius: 10px;
  gap: 10px;
  box-shadow: 5px 4px rgba(5, 73, 144, 0.4);
  z-index: 0;
}

nav {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--orange);
  /* width: 10%; */
  font-size: 18px;
  border-radius: 5px;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.5rem;
  /* margin-left: 2%; */
}

nav ul li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

nav ul li:hover {
  color: white;
  cursor: pointer;
  /* box-shadow: 1px 1px 1px 1px var(--blue); */
  outline: 2px solid var(--blue);
}

.user {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "usernav usernav"
    "recentprojects recentprojects"
    "recentprojects recentprojects"
    "reminder reminder";
  width: 90%;
  gap: 10px;
  /* background-color: aqua; */
  padding: 10px;
  */
}

.user-nav {
  /* background-color: blue; */
  grid-area: usernav;
  display: flex;
  justify-content: space-between;
}

.recent-projects {
  /* background-color: chartreuse; */
  grid-area: recentprojects;
}

.recent-projects span {
  /* background-color: chartreuse; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10%;
}

.reminder {
  /* background-color: brown; */
  grid-area: reminder;
}

.btn {
  width: 8vw;
  height: 4vh;
  border-radius: 5px;
  margin-bottom: 15px;
}

.btn:hover {
  background-color: var(--blue);
  color: white;
}

.logincard,
.signup {
  display: flex;
  flex-direction: column;
  background-color: var(--orange);
  width: 40vw;
  height: 45vh;
  border-radius: 5px;
  justify-content: space-evenly;
}

.login {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

form input {
  width: 50%;
  padding: 5px;
  border-radius: 5px;
}

.newuser,
#btn {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}

.recent-projects:hover,
.reminder:hover,
.today:hover {
  /* background-color: var(--orange2); */
  /* color: var(--blue); */
  border-radius: 5px;
  /* font-size: 25px; */
  /* height: 100%;
  width: 100%; */
}

.logouticon span {
  display: flex;
  width: 45%;
  justify-content: flex-end;
}

.admin {
  /* background-color: chartreuse; */
  display: flex;
  flex-direction: column;
  height: 100;
  width: 90%;
  gap: 10px;
}

.log-out {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* padding-right: 10px; */
  /* color: var(--orange); */
  /* height: 10%; */
  /* background-color: blue; */
  gap: 0.5rem;
}

.admin-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  /* height: 10%; */
  /* background-color: yellow; */
}

#addproject {
  display: flex;
}

#not-icon,
#out-icon,
#acc-icon,
#add {
  color: var(--orange);
}

#not-icon:hover,
#out-icon:hover,
#acc-icon:hover,
#add:hover {
  color: var(--blue);
  cursor: pointer;
}

.team {
  /* background-color: black; */
  /* height: 28%; */
  z-index: 1;
  padding: 0.3rem;
}

.tasks {
  /* background-color: brown; */
  height: 40%;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.project-time,
.ongoing-prject,
.completed-projects {
  display: flex;
  justify-content: center;
  width: 33%;
}

#add-project {
  background-color: var(--orange);
  color: white;
  cursor: pointer;
  padding: 10px;
}

#add-project:hover {
  background-color: var(--blue);
  color: white;
  cursor: pointer;
}

#addproject p {
  font-size: 12px;
  padding-top: 5px;
}

.team:hover,
.project-time:hover,
.ongoing-prject:hover,
.completed-projects:hover {
  background-color: var(--grey);
  border-radius: 5px;
  margin: 5px 5px 5px;
  padding: 5px;
  color: white;
}

@media screen and (max-width: 1120px) {
  * {
    font-size: 0.9rem;
  }

  body {
    background-image: contain;
  }
}

@media screen and (max-width: 772px) {
  * {
    font-size: 0.9rem;
  }

  body {
    background-image: none;
    background-color: var(--white);
  }

  .logincard {
    box-shadow: 5px 4px rgba(5, 73, 144, 0.4);
  }
}

@media screen and (max-width: 700px) {
  * {
    font-size: 0.8rem;
  }

  .logincard {
    box-shadow: 5px 4px rgba(5, 73, 144, 0.4);
  }
}

@media screen and (max-width: 540px) {

  *,
  .material-symbols-outlined {
    font-size: 0.7rem;
  }

  #addproject p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 360px) {
  * {
    font-size: 0.65rem;
  }
}

div.team {
  margin: 4px, 4px;
  padding: 4px;
  overflow: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.team-member {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
}

.team-member:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* transform: translateY(-2px); */
}

/* Center the form */
.form-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

.form-container {
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  .form-container {
    width: 90%;
  }
}

/* Style the form elements */
.form-container h1 {
  text-align: center;
}

.form-container label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.form-container input[type="text"],
.form-container input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container button {
  width: 100%;
  padding: 14px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container .submit {
  background-color: #f17400;
}

/* Style the "Cancel" button */
.form-container .cancel {
  background-color: #ccc;
}

/* Hover effects for buttons */
.form-container button:hover {
  background-color: #f17400;
}

.form-container .cancel:hover {
  background-color: #aaa;
}

.project {
  /* margin-left: 10px;
  margin-top: 10px; */

  /* margin-bottom: 10px;
  margin-right: 10px; */
  margin: 0.8rem;
  text-align: center;
  background-color: rgb(236, 133, 36);
  padding: 15px;
  gap: 0.5rem;
  border-radius: 10px;
  display: inline-block;
  width: calc(90.33% - 20px);
  /* Adjust width as needed */
  vertical-align: top;
  /* Align cards at the top */

}

/* display: flex;
  color: white;

  flex-direction: column;
  /* height: 3.9rem; */
/* justify-content: space-evenly; */
/* width: 35vw; */
}

*/ .project div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

#incomplete-projects {
  width: 100%;
  padding: 4px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#complete-projects {
  width: 33%;
  padding: 4px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#all-projects {
  width: 33%;
  padding: 4px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.project:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* transform: translateY(-2px); */
}

.project-description-class {
  max-height: 3em;
  /* Adjust this to control the maximum number of lines */
  overflow: hidden;
}

.incomplete-projects .project {
  flex-grow: 1;
}

#all-projects .project:first-child {
  margin-top: 25px;
  /* Adjust the value as needed */
}

#headings {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}